{% for item in model.items %}COPY{% endfor %}
{% for key, item in model.items %}BREAKPOINT{% endfor %}
{% for item in model.items %}{{ loop.length }}{{ loop.index }}{{ loop.first }}{{ loop.last }}{% endfor %}
