{% macro e_image(model, settings) %}

    
    
    {% set moduleClass = 'e-image' %}

    
    <picture class="{{ moduleClass }} {{ classes }}">
        {% set image = null %}
        {% if settings|notempty() %}
            {% for index, setting in settings %}
                {% if index != 'all' %}
                    {% set mediaQuery = setting.name|mediaQuery() %}
                    {% set image = model|imageUrl(setting.aspect, setting.width, setting.height) %}
                    <source data-srcset="{{ image }}" media="{{ mediaQuery }}" />
                {% endif %}
            {% endfor %}
            {% for index, setting in settings %}
                {% if index == 'all' %}
                    {% set image = model|imageUrl(setting.aspect, setting.width, setting.height) %}
                    <source data-srcset="{{ image }}" />
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if image|empty() %}
            {% set image = model|imageUrl() %}
        {% endif %}
        <img class="{{ moduleClass }}__img do-lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{ image }}" alt="{{ model.alt }}" />
    </picture>

{% endmacro %}