{% from 'base/global/global-nojs.html' import global_nojs %}
{% from 'base/global/global-css.html' import global_css %}
{% from 'base/global/global-js.html' import global_js %}
<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="TK Relaunch" />
        {{ global_nojs() }}
        {{ global_css() }}
    </head>
    <body class="t-bare {% block bodyClass %}{% endblock %}">
        {% block header %}{% endblock %}
        <div class="t-bare__viewport">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
        {{ global_js() }}
    </body>
</html>
